@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
    width: 100vw;
    height: 80vh;
  }

.account-wrap {
  float: right;
}

.coordinate-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 75px auto;
}

.coordinate-wrap > button {
  margin-bottom: 10px;
}